---
// URL halaman saat ini
const currentPath = Astro.url.pathname;

import { Image } from "astro:assets";
import logo from "../assets/logo1.png";

// cek link sedang aktif
const isActive = (path: string) => currentPath.startsWith(path);

// 1. Style untuk Menu AKTIF (Kuning, Teks Merah, Bold)
const activeClass = "flex items-center gap-3 px-4 py-3 bg-[#FEB516] text-[#C90003] rounded-xl font-bold shadow-md transition-transform hover:scale-105";

// 2. Style untuk Menu TIDAK AKTIF (Transparan, Teks Putih)
const inactiveClass = "flex items-center gap-3 px-4 py-3 text-white hover:bg-yellow-500 hover:text-[#C90003] hover:bg-opacity-50 rounded-xl font-medium transition-all shadow-md transition-transform hover:scale-105";
---

<aside id="admin-sidebar" class="fixed inset-y-0 left-0 z-50 w-64 bg-[#C90003] text-white flex flex-col min-h-screen font-sans shadow-xl transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0 md:static">
    
    <div class="h-20 flex items-center px-6 py-4">
        <div class="flex items-center">
                <Image src={logo} alt="Logo" class="h-15 w-auto" />
        </div>
        <button id="close-sidebar" class="md:hidden text-white focus:outline-none hover:text-yellow-300 transition">
           
        </button>
    </div>

    <nav class="flex-1 px-4 py-4 space-y-3">
        
        <a href="/admin/dashboard" 
           class={currentPath === '/admin/dashboard' ? activeClass : inactiveClass}>
            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.02459 12.4758C3.02459 12.2276 3.07348 11.9818 3.16847 11.7525C3.26347 11.5231 3.4027 11.3148 3.57822 11.1392C3.75374 10.9637 3.96212 10.8245 4.19145 10.7295C4.42078 10.6345 4.66658 10.5856 4.9148 10.5856C5.16303 10.5856 5.40882 10.6345 5.63816 10.7295C5.86749 10.8245 6.07586 10.9637 6.25139 11.1392C6.42691 11.3148 6.56614 11.5231 6.66113 11.7525C6.75613 11.9818 6.80502 12.2276 6.80502 12.4758H3.02459ZM24.195 12.4758C24.195 11.9745 24.3941 11.4937 24.7486 11.1392C25.1031 10.7847 25.5839 10.5856 26.0852 10.5856C26.5865 10.5856 27.0673 10.7847 27.4218 11.1392C27.7763 11.4937 27.9754 11.9745 27.9754 12.4758H24.195ZM3.22722 16.8369C2.87269 17.1915 2.39184 17.3906 1.89046 17.3906C1.38908 17.3906 0.908232 17.1915 0.553701 16.8369C0.199171 16.4824 0 16.0016 0 15.5002C0 14.9988 0.199171 14.5179 0.553701 14.1634L3.22722 16.8369ZM15.5 1.89057L14.1632 0.553809C14.3388 0.378233 14.5472 0.238956 14.7765 0.143932C15.0059 0.0489085 15.2517 0 15.5 0C15.7483 0 15.9941 0.0489085 16.2235 0.143932C16.4528 0.238956 16.6612 0.378233 16.8368 0.553809L15.5 1.89057ZM30.4463 14.1634C30.8008 14.5179 31 14.9988 31 15.5002C31 16.0016 30.8008 16.4824 30.4463 16.8369C30.0918 17.1915 29.6109 17.3906 29.1095 17.3906C28.6082 17.3906 28.1273 17.1915 27.7728 16.8369L30.4463 14.1634ZM23.0609 31H7.93914V27.2196H23.0609V31ZM3.02459 26.0854V12.4758H6.80502V26.0854H3.02459ZM24.195 26.0854V12.4758H27.9754V26.0854H24.195ZM0.553701 14.1634L14.1632 0.553809L16.8368 3.22734L3.22722 16.8369L0.553701 14.1634ZM16.8368 0.553809L30.4463 14.1634L27.7728 16.8369L14.1632 3.22734L16.8368 0.553809ZM7.93914 31C6.63572 31 5.38569 30.4822 4.46403 29.5606C3.54237 28.6389 3.02459 27.3888 3.02459 26.0854H6.80502C6.80502 26.3862 6.9245 26.6747 7.13719 26.8874C7.34988 27.1001 7.63836 27.2196 7.93914 27.2196V31ZM23.0609 27.2196C23.3616 27.2196 23.6501 27.1001 23.8628 26.8874C24.0755 26.6747 24.195 26.3862 24.195 26.0854H27.9754C27.9754 27.3888 27.4576 28.6389 26.536 29.5606C25.6143 30.4822 24.3643 31 23.0609 31V27.2196Z" fill={isActive('/admin/dashboard') ? "currentColor" : "#FEB516"}/>
            </svg>
            <span>Dashboard</span>
        </a>

        <a href="/admin/categories" 
           class={currentPath === '/admin/categories' ? activeClass : inactiveClass}>
            <svg width="26" height="31" viewBox="0 0 26 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.4577 25.4643H26V27.6786H10.4577V25.4643ZM2.87532 26.5714L0.0111019 29.4279L1.57643 31L6.01708 26.5714L1.57643 22.1429L0 23.7039L2.87532 26.5714ZM10.4577 14.3929H26V16.6071H10.4577V14.3929ZM2.87532 15.5L0.0111019 18.3564L1.57643 19.9286L6.01708 15.5L1.57643 11.0714L0 12.6325L2.87532 15.5ZM10.4577 3.32143H26V5.53571H10.4577V3.32143ZM2.87532 4.42857L0.0111019 7.285L1.57643 8.85714L6.01708 4.42857L1.57643 0L0 1.56107L2.87532 4.42857Z" fill={isActive('/admin/categories') ? "currentColor" : "#FEB516"}/>
            </svg>

            <span>Kategori</span>
        </a>

        <a href="/admin/products" 
           class={currentPath === '/admin/products' ? activeClass : inactiveClass}>
            <svg width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.4 23.811V14.1418L2.06667 8.99346V23.1513L10.85 27.5435L10.3495 29.5867L0 24.4384V6.67672L13.4333 0L26.8667 6.67672V11.0206C26.1132 11.1386 25.4243 11.3799 24.8 11.7446V8.99346L14.4667 14.1418V21.7516L12.4 23.811ZM10.1073 3.94168L19.5365 9.31523L23.5245 7.32026L13.4333 2.28457L10.1073 3.94168ZM13.4333 12.356L17.3083 10.4253L7.87917 5.05178L3.34219 7.32026L13.4333 12.356ZM27.7708 13.4982C28.2229 13.4982 28.6427 13.5787 29.0302 13.7396C29.4177 13.9005 29.7622 14.1203 30.0635 14.3992C30.3649 14.6781 30.591 15.0159 30.7417 15.4128C30.8924 15.8096 30.9785 16.2333 31 16.6838C31 17.1021 30.9193 17.5096 30.7578 17.9065C30.5964 18.3033 30.3649 18.6519 30.0635 18.9522L18.487 30.4877L12.4 32L13.9177 25.9346L25.4943 14.4153C25.8064 14.1042 26.1562 13.8736 26.5437 13.7235C26.9312 13.5733 27.3403 13.4982 27.7708 13.4982ZM28.5943 17.5043C28.8203 17.279 28.9333 17.0055 28.9333 16.6838C28.9333 16.3513 28.8257 16.0831 28.6104 15.8793C28.3951 15.6755 28.1153 15.5683 27.7708 15.5576C27.6201 15.5576 27.4748 15.579 27.3349 15.6219C27.195 15.6648 27.0712 15.7453 26.9635 15.8632L15.7906 26.9965L15.2417 29.1684L17.4214 28.6214L28.5943 17.5043Z" fill={isActive('/admin/products') ? "currentColor" : "#FEB516"}/>
            </svg>
            <span>Produk</span>
        </a>

        <a href="/admin/transactions" 
           class={currentPath === '/admin/transactions' ? activeClass : inactiveClass}>
           <svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.6364 0H13.0909C11.9336 0 10.8237 0.442499 10.0054 1.23015C9.18701 2.0178 8.72727 3.08609 8.72727 4.2V14C8.72727 15.1139 9.18701 16.1822 10.0054 16.9698C10.8237 17.7575 11.9336 18.2 13.0909 18.2H27.6364C28.7937 18.2 29.9036 17.7575 30.7219 16.9698C31.5403 16.1822 32 15.1139 32 14V4.2C32 3.08609 31.5403 2.0178 30.7219 1.23015C29.9036 0.442499 28.7937 0 27.6364 0ZM29.0909 14C29.0909 14.3713 28.9377 14.7274 28.6649 14.9899C28.3921 15.2525 28.0221 15.4 27.6364 15.4H13.0909C12.7051 15.4 12.3352 15.2525 12.0624 14.9899C11.7896 14.7274 11.6364 14.3713 11.6364 14V4.2C11.6364 3.8287 11.7896 3.4726 12.0624 3.21005C12.3352 2.9475 12.7051 2.8 13.0909 2.8H27.6364C28.0221 2.8 28.3921 2.9475 28.6649 3.21005C28.9377 3.4726 29.0909 3.8287 29.0909 4.2V14ZM24 8.4C23.4618 8.40309 22.9437 8.59755 22.5455 8.946C22.2327 8.67237 21.8441 8.49207 21.4268 8.42702C21.0096 8.36197 20.5817 8.41496 20.1952 8.57956C19.8087 8.74415 19.4801 9.01327 19.2495 9.3542C19.0189 9.69512 18.8961 10.0932 18.8961 10.5C18.8961 10.9068 19.0189 11.3049 19.2495 11.6458C19.4801 11.9867 19.8087 12.2558 20.1952 12.4204C20.5817 12.585 21.0096 12.638 21.4268 12.573C21.8441 12.5079 22.2327 12.3276 22.5455 12.054C22.8081 12.2838 23.1251 12.4484 23.4688 12.5336C23.8125 12.6188 24.1727 12.622 24.518 12.5429C24.8633 12.4638 25.1833 12.3049 25.4504 12.0798C25.7174 11.8547 25.9233 11.5703 26.0503 11.2513C26.1773 10.9323 26.2215 10.5883 26.1791 10.2491C26.1367 9.90987 26.009 9.58576 25.807 9.30485C25.605 9.02393 25.3348 8.79469 25.0199 8.63701C24.705 8.47933 24.3549 8.39798 24 8.4ZM21.8182 21C21.4324 21 21.0624 21.1475 20.7897 21.41C20.5169 21.6726 20.3636 22.0287 20.3636 22.4V23.8C20.3636 24.1713 20.2104 24.5274 19.9376 24.7899C19.6648 25.0525 19.2949 25.2 18.9091 25.2H4.36364C3.97787 25.2 3.6079 25.0525 3.33512 24.7899C3.06234 24.5274 2.90909 24.1713 2.90909 23.8V18.2H4.36364C4.74941 18.2 5.11938 18.0525 5.39216 17.7899C5.66494 17.5274 5.81818 17.1713 5.81818 16.8C5.81818 16.4287 5.66494 16.0726 5.39216 15.8101C5.11938 15.5475 4.74941 15.4 4.36364 15.4H2.90909V14C2.90909 13.6287 3.06234 13.2726 3.33512 13.0101C3.6079 12.7475 3.97787 12.6 4.36364 12.6C4.74941 12.6 5.11938 12.4525 5.39216 12.1899C5.66494 11.9274 5.81818 11.5713 5.81818 11.2C5.81818 10.8287 5.66494 10.4726 5.39216 10.2101C5.11938 9.9475 4.74941 9.8 4.36364 9.8C3.20633 9.8 2.09642 10.2425 1.27808 11.0302C0.459739 11.8178 0 12.8861 0 14V23.8C0 24.9139 0.459739 25.9822 1.27808 26.7698C2.09642 27.5575 3.20633 28 4.36364 28H18.9091C20.0664 28 21.1763 27.5575 21.9946 26.7698C22.813 25.9822 23.2727 24.9139 23.2727 23.8V22.4C23.2727 22.0287 23.1195 21.6726 22.8467 21.41C22.5739 21.1475 22.204 21 21.8182 21ZM7.27273 22.4H8.72727C9.11304 22.4 9.48301 22.2525 9.75579 21.99C10.0286 21.7274 10.1818 21.3713 10.1818 21C10.1818 20.6287 10.0286 20.2726 9.75579 20.01C9.48301 19.7475 9.11304 19.6 8.72727 19.6H7.27273C6.88696 19.6 6.51699 19.7475 6.24421 20.01C5.97143 20.2726 5.81818 20.6287 5.81818 21C5.81818 21.3713 5.97143 21.7274 6.24421 21.99C6.51699 22.2525 6.88696 22.4 7.27273 22.4Z" fill={isActive('/admin/transactions') ? "currentColor" : "#FEB516"}/>
            </svg>
            <span>Transaksi Cust</span>
        </a>

    </nav>

    <div class="p-6 mt-auto">
        <a href="/" class="flex items-center gap-2 text-white hover:text-yellow-200 transition font-medium">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.11111 28C2.25556 28 1.52341 27.6956 0.914667 27.0869C0.305926 26.4781 0.00103704 25.7455 0 24.8889V3.11111C0 2.25556 0.304889 1.52341 0.914667 0.914667C1.52444 0.305926 2.25659 0.00103704 3.11111 0H14V3.11111H3.11111V24.8889H14V28H3.11111ZM20.2222 21.7778L18.0833 19.5222L22.05 15.5556H9.33333V12.4444H22.05L18.0833 8.47778L20.2222 6.22222L28 14L20.2222 21.7778Z" fill="white"/>
            </svg>
            Logout
        </a>
    </div>
</aside>

<style>
    /* Mengubah warna ikon saat hover */
    nav a:hover svg path {
        fill:#C90003; /* Ganti dengan warna yang diinginkan */
    }
</style>